/* reseto de estilos */
/* 1. Use a more intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html, body {
    height: 100%;
}

/* 4. Improve text rendering and set defaults */
body {
  line-height: 1.5;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

.main-body {
    background-color: #1f0202;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

